Sets

Unorderd Data

In [2]:
set={1,2,3,43,3}
print(set)

{1, 2, 3, 43}

Duplicate Value

In [4]:
set={1,2,3,43,3,3,2}
print(set)

{1, 2, 3, 43}

In [1]:
Collection = {1,2,3,4,"Lucky","Harsh","Muskan"}
print(Collection)
print(type(Collection))

{1, 2, 3, 4, 'Lucky', 'Harsh', 'Muskan'}
<class 'set'>

Unordered set

In [3]:
Collection = {1,2,4,3,2,3,4,"Lucky","Harsh","Muskan",6,7}
print(Collection)
print(type(Collection))

{1, 2, 3, 4, 6, 7, 'Lucky', 'Muskan', 'Harsh'}
<class 'set'>

To Find Legth(len())

In [4]:
Collection = {1,2,4,3,2,3,4,"Lucky","Harsh","Muskan",6,7}
print(Collection)
print(len(Collection))

{1, 2, 3, 4, 6, 7, 'Lucky', 'Muskan', 'Harsh'}
9

Create an empty set

In [5]:
Collection={}
print(type(Collection))

<class 'dict'>

In [7]:
Collection=set()
print(type(Collection))

<class 'set'>

Set Methods[add() remove() clear() pop()]

ADD

In [8]:
Collection=set()
Collection.add(1)
Collection.add(2)
Collection.add(3)
Collection.add(4)
print(type(Collection))
print(Collection)

<class 'set'>
{1, 2, 3, 4}

REMOVE

In [ ]:
Collection=set()
Collection.add(1)
Collection.add(2)
Collection.add(3)
Collection.add(4)
print(Collection)
Collection.remove(2)
print(type(Collection))
print(Collection)

In [ ]:
Collection=set()
Collection.add(1)
Collection.add(2)
Collection.add(3)

print(Collection)
Collection.remove(6)
#6 is not in set
print(type(Collection))
print(Collection)

ADD String and Tuple

In [13]:
collection=set()
collection.add(1)
collection.add(2)
collection.add(3)
collection.add("Lucky")
collection.add(4,5,6,7,8)
print(Collection)
print(type(collection))

TypeError: set.add() takes exactly one argument (5 given)

Do not Add list

In [ ]:
collection=set()
collection.add(1)
collection.add(2)
collection.add(3)
collection.add("Lucky")
collection.add([3,4,5,6,7,8]) #Add List value
print(Collection)
#Error: unhashable type: 'list'

TypeError: unhashable type: 'list'

Method [intersection() and Union()]

UNION

In [11]:
set1={1,2,3,4,5}
set2={4,5,6,7,8}
set3=set1.union(set2)
print(set3)

{1, 2, 3, 4, 5, 6, 7, 8}

INTERSECTION

In [12]:
set1={1,2,3,4,5}
set2={3,4,5,6,7,8}
set3=set1.intersection(set2)
print(set3)

{3, 4, 5}

Function

Create A Set With Different

In [ ]:
set1=set()

print("Initial Blacnk set: ")
print(set1)

set1=set("Lucky")
print("set with use of string: ")
print(set1)

string = "Lucky"
set1=set(string)
print("set with use of string: ")
print(set1)
#list
l=[1, 2, 3, 4, 5]
set1=set(l)
print("Set with use of list: ")
print(set1)


#tuple
t = ("Lucky", "Harsh", "Muskan")
print("Set with use of tuple: ")
set1=set(t)
print(set1)

#dictionary
d = {"name": "Lucky", "age": 25, "city": "Delhi"}
print("Set with use of dictionary: ")
set1=set(d)
print(set1)

Initial Blacnk set:
set()
set with use of string:
{'k', 'L', 'c', 'u', 'y'}
set with use of string:
{'k', 'L', 'c', 'u', 'y'}
Set with use of list:
{1, 2, 3, 4, 5}
Set with use of tuple:
{'Lucky', 'Harsh', 'Muskan'}
Set with use of dictionary:
{'name', 'city', 'age'}

Create A set with List of Number

In [16]:
set1={1,2,3,4,5,3,4,8,9,8,7,5,4,4,2}
print("Set With use of Number: ")
print(set1)

set2={1,2,3,4,5,'Five',3,"Neet",2,'Ravi',}
print("Set With use of Mixed Values: ")
print(set2)

Set With use of Number:
{1, 2, 3, 4, 5, 7, 8, 9}
Set With use of Mixed Values:
{1, 2, 3, 4, 5, 'Neet', 'Five', 'Ravi'}

In [17]:
my_set={1,2,3}
print(my_set)

{1, 2, 3}

In [19]:
set1=set()
print("Initial Blank Set: ")
print(set1)

#Adding Element and Tuple to the set
set1.add(8)
set1.add(9)
set1.add((6,7))
print("set after Addition of three elements: ")
print(set1)

#add elements iteration
for i in range(1,7):
    set1.add(i)
print("set affter adddition element: ")
print(set1)

Initial Blank Set:
set()
set after Addition of three elements:
{8, 9, (6, 7)}
set affter adddition element:
{1, 2, 3, 4, 5, 6, 8, 9, (6, 7)}

Update Method

In [20]:
set1=set([4,5,(6,7)])
set1.update([10,11])
print("set After Add Of Elements using Updates: ")
print(set1)

set After Add Of Elements using Updates:
{4, 5, 10, 11, (6, 7)}

Accessing Sets

In [25]:
set1=set(["lucky","Sharma","Pandit"])
print("Initial Set: ",set1)

#Access Using loop
for i in set1:
    print(i, end=" ")

print("\n")
print("lucky" in set1)

Initial Set:  {'lucky', 'Sharma', 'Pandit'}
lucky Sharma Pandit

True

Removing Element discard

In [28]:
set1=set([1,2,3,4,5,6,7,8,11,12])
print(set1)

set1.remove(5)
set1.remove(6)
print("Set After Remove ")
print(set1)

set1.discard(8)
set1.discard(9)
print("After Discard: ",set1)

#removing form iteration

for i in range(1,5):
    set1.remove(i)
print("After Iteration Removing: ")
print(set1)

{1, 2, 3, 4, 5, 6, 7, 8, 11, 12}
Set After Remove
{1, 2, 3, 4, 7, 8, 11, 12}
After Discard:  {1, 2, 3, 4, 7, 11, 12}
After Iteration Removing:
{7, 11, 12}

POP and CLEAR

In [32]:
set1=set([1,2,3,4,5,6,7,8,11,12])
print(set1)

set1.pop()
set1.pop()
print("Set After Pop method: ")
print(set1)

set1.clear()
print("Set After Clear method: ")
print(set1)

{1, 2, 3, 4, 5, 6, 7, 8, 11, 12}
Set After Pop method:
{3, 4, 5, 6, 7, 8, 11, 12}
Set After Clear method:
set()

Frozenset

In [36]:
string=('G','e','e','k','s','f','o','r')
fset=frozenset(string)
print("The Frozenset is: ")
print(fset)

print("The Empty Frozenset is: ")
print(frozenset())

The Frozenset is:
frozenset({'k', 's', 'e', 'f', 'r', 'G', 'o'})
The Empty Frozenset is:
frozenset()

In [ ]:
d1={1:"One", 2:"Two", 3:"Three"}
my_set=set(my_dict)
print("Dict as set: ",my_set)

my_dict={1:"One", 2:"Two", 3:"Three"}
my_set=set(my_dict)
print("Dict as set: ",my_set)


my_dict={1:"One", 2:"Two", 3:"Three"}
my_set=set(my_dict)
print("Dict as set: ",my_set)

Dict as set:  {3, 2, 11}

implementing all function in this exmple ,A  series of function demonstrate common opertion on a set in python. These include creating a set , adding and removing element clearing the set ,performing set union,intersection, difference, symmetric difference, subset, and superset operations.

In [48]:
s={1,2,3,4,5,6,7,8,9}

s.add(111)
print(s)

s.remove(1)
print(s)

s.clear()
print(s)

s1={1,2,3}
s2={3,4,5,6}
s3=s1.union(s2)
print("Union: ",3)

s1={1,2,3}
s2={3,4,5,6}
s3=s1.intersection(s2)
print("Intersection: ",s3)

s1={1,2,3}
s2={3,4,5,6}
s3=s1.difference(s2)
print("Difference: ",s3)

s1={1,2,3,4,5,6}
s2={3,4,5,6}
s3=s1.issubset(s2)
print("Subset: ",s3)

s1={1,2,3,4,5,6,7,8,9}
s2={3,4,5,6}
s3=s1.issuperset(s2)
print("Superset: ",s3)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 111}
{2, 3, 4, 5, 6, 7, 8, 9, 111}
set()
Union:  3
Intersection:  {3}
Difference:  {1, 2}
Subset:  False
Superset:  True